.text-gradient-home {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    208.5deg,
    #ffac46,
    #ff9546,
    #ff8046,
    #ff753c,
    #ff6932,
    #ff7884,
    #ff8dff,
    #e284ff,
    #c67bff,
    #a872ff,
    #8c69ff,
    #857aff,
    #7c8fff,
    #73a3ff,
    #69b9ff,
    #7fd6ff,
    #51d5ff
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}

.gradient-radius {
  position: relative;
  border-radius: 8px;
  background: linear-gradient(
    208.5deg,
    #ffac46,
    #ff9546,
    #ff8046,
    #ff753c,
    #ff6932,
    #ff7884,
    #ff8dff,
    #e284ff,
    #c67bff,
    #a872ff,
    #8c69ff,
    #857aff,
    #7c8fff,
    #73a3ff,
    #69b9ff,
    #7fd6ff,
    #51d5ff
  );
  padding: 6px;
}

.gradient-radius::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: white;
  border-radius: 4px;
  z-index: 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.tempered-glass {
  box-shadow: 0px 0px 8px 0px #00000040;
  background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  color: white;
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
}

.blurred-image {
  filter: blur(8px); /* Aplica el desenfoque */
  transition: filter 0.3s ease; /* Transición suave para el desenfoque */
}

.second-banner-gradient {
  background: linear-gradient(137.89deg, #008af9 -9.53%, #9065f8 104.63%);
}

.pixells-inteligence-gradient {
  background: linear-gradient(
    271.92deg,
    #ffac46 1.46%,
    #ff9546 3.05%,
    #ff8046 4.5%,
    #ff753c 5.92%,
    #ff6932 7.37%,
    #ff7884 8.72%,
    #ff8dff 10.63%,
    #e284ff 12.29%,
    #c67bff 13.64%,
    #a872ff 15.03%,
    #8c69ff 16.22%,
    #857aff 17.46%,
    #7c8fff 19.36%,
    #73a3ff 20.89%,
    #69b9ff 22.07%,
    #7fd6ff 23.32%,
    #51d5ff 24.41%,
    #51d5ff 25.27%,
    #ffffff 25.78%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s ease infinite;
}

.crispin-title-gradient {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background: linear-gradient(90deg, #44444f 7.38%, #9c9cb5 26.93%);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 4s ease infinite;
}

.tempered-glass-effect {
  border-radius: 8px; /* Bordes redondeados */
  border-left: 8px solid rgba(255, 255, 255, 0.2);
  border-top: 8px solid rgba(255, 255, 255, 0.2);
}

.text-gradient-home-black {
  line-height: 69px;
  background: linear-gradient(
    259.12deg,
    #ffac46 -10.99%,
    #ff9546 -3.58%,
    #ff8046 3.15%,
    #ff753c 9.74%,
    #ff6932 16.47%,
    #ff7884 22.73%,
    #ff8dff 31.58%,
    #e284ff 39.33%,
    #c67bff 45.57%,
    #a872ff 52.02%,
    #8c69ff 57.54%,
    #857aff 63.3%,
    #7c8fff 72.16%,
    #73a3ff 79.24%,
    #69b9ff 84.73%,
    #7fd6ff 90.52%,
    #51d5ff 95.57%,
    #51d5ff 100.98%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}

.rotate-img {
  transform: rotateX(40deg) rotateY(20deg);
  transition: transform 0.3s ease;
}

.rotate-img:hover {
  transform: rotateX(30deg) rotateY(0deg);
}

@keyframes scrollRotate {
  from {
    transform: rotateX(40deg) rotateY(20deg);
  }
  to {
    transform: rotateX(30deg) rotateY(0deg);
  }
}

.rotate-img.scrolling {
  animation: scrollRotate 0.5s ease forwards;
}

/* THANK YOU PAGE */
.bg-gradient-thank-you {
  background: linear-gradient(
    222.26deg,
    rgba(119, 148, 249, 0.1) 12.05%,
    rgba(2, 189, 237, 0.08) 21.26%,
    rgba(5, 230, 192, 0.06) 27.94%,
    rgba(183, 252, 223, 0.1) 35.54%,
    rgba(194, 255, 171, 0.1) 40.37%,
    rgba(255, 255, 255, 0.1) 52%
  );
}

@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

/* Estilo base para los fuegos artificiales */
.firework,
.firework::before,
.firework::after {
  --initialSize: 0.4vmin;
  --finalSize: 45vmin;
  --particleSize: 0.4vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -30vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 5s infinite; /* Animación más lenta (5 segundos) */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
}

/* Asegura que cada fuego artificial tiene una posición y colores diferentes */
.firework:nth-child(1) { --x: 30vmin; left: 30%; top: 60%; animation-delay: 0s; }
.firework:nth-child(2) { --x: -30vmin; left: 70%; top: 60%; animation-delay: -0.2s; }
.firework:nth-child(3) { --x: 50vmin; left: 50%; top: 50%; animation-delay: -0.4s; }
.firework:nth-child(4) { --x: -50vmin; left: 20%; top: 80%; animation-delay: -0.6s; }
.firework:nth-child(5) { --x: 40vmin; left: 60%; top: 40%; animation-delay: -0.8s; }
.firework:nth-child(6) { --x: -40vmin; left: 80%; top: 70%; animation-delay: -1s; }
.firework:nth-child(7) { --x: 20vmin; left: 40%; top: 20%; animation-delay: -1.2s; }
.firework:nth-child(8) { --x: -20vmin; left: 60%; top: 20%; animation-delay: -1.4s; }
.firework:nth-child(9) { --x: 10vmin; left: 20%; top: 30%; animation-delay: -1.6s; }
.firework:nth-child(10) { --x: -10vmin; left: 90%; top: 30%; animation-delay: -1.8s; }

.firework:nth-child(1),
.firework:nth-child(2),
.firework:nth-child(3),
.firework:nth-child(4),
.firework:nth-child(5),
.firework:nth-child(6),
.firework:nth-child(7),
.firework:nth-child(8),
.firework:nth-child(9),
.firework:nth-child(10) {
  --color1: red; --color2: orange; --color3: yellow; --color4: green; --color5: blue; --color6: purple;
  --finalSize: 40vmin;
}
